<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
 loadingText="Loading..." type="ball-scale-multiple"></ngx-spinner>

<div *ngIf="loader">


<div class="modal fade" [ngClass]="modalClass"
[ngStyle]="{ 'display': display }" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Tour Blog</h5>
        <button type="button" class="close" (click)="modalClass = ''; display = 'none'">
          <span aria-hidden="true" >&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Comments can read only authorizated users...
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" >Close</button> -->
        <a routerLink="/register" class="btn btn-dark">Register</a>
        <a routerLink="/login" class="btn btn-dark">Login</a>
      </div>
    </div>
  </div>
</div>

<section *ngIf="!showSinglePost">

  <div class="reload-blk">
    <button class="btn btn-success reload-btn" (click)="reloadBlogs()">
      <img src="../../../assets/svg-tour/refresh.svg" alt=""></button>
  </div>

  <div class="row mt-5 mb-5">
      <div class="col-8">
        <div class="card mb-3" *ngFor="let posts of blogPosts">
          <img class="card-img-top" src="../../../assets/img/pexels-photo-819733.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ posts.title }}</h5>
            <p class="card-text">{{ posts.body }}</p>
            <div class="card-text">
              <div class="post-info">
                <p><strong>Posted by: </strong>{{ posts.createdBy }}</p>
                <p><strong>Date: </strong>{{ posts.createdAt | date: 'MMM, dd, yyyy' }}</p>

              </div>
              <!-- post Infos -->
              <div class="post-info">
                <div class="dropdown">
                  <p><strong>Likes: </strong>
                    <img src="../../../assets/svg-tour/like.svg" alt="">
                    {{ posts.likes }}
                  </p>
                  <div class="dropdown-content">
                    <a href="" *ngFor="let whoLikes of posts.likedBy">{{ whoLikes }}</a>
                  </div>
                </div> <!-- / dropdown -->
                <a [routerLink]="['/single-post/', posts._id]">
                  <img src="../../../assets/svg-tour/chat.svg" alt="">
                  {{ posts.comments.length }}<strong class="text-muted" (click)="modal = true"> comments</strong>
                </a>
              </div>
              <!-- End post Infos -->
              <div class="post-btns" *ngIf="username === posts.createdBy">
                <a [routerLink]="['/system/edit-post/', posts._id]">
                  <button type="button" class="btn btn-dark">Edit</button>
                </a>
              </div>

            </div>
          </div> <!-- / card-body -->
        </div> <!-- / card -->
      </div>

      <!-- Aside -->
      <div class="col-4 pl-0">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          hic architecto culpa possimus cum perspiciatis corporis numquam at rem.
            Quas similique modi provident suscipit aspernatur deserunt harum illo accusamus voluptas?</p>
      </div>
  </div>
</section>

</div>
