.reload-blk {
  position: absolute;
  top: 100px;
  left: 20px;
}

.reload-btn {
  position: fixed;
  z-index: 555;
}
.reload-btn img {
  width: 28px;
}
.btn-success {
  background-color: #88c057;
  border-color: #88c057;
}
.btn-dark {
  color: #88c057;
}

.delete .btn-dark {
  color: #b54141;
}
