<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff"
    loadingText="Loading..." type="ball-scale-multiple"></ngx-spinner>

    <div [ngClass]="messageClass">
      {{ message }}
    </div>

<div class="col-md-8 offset-md-2 mb-5 mt-5 post-form" *ngIf="!loading">
    <form (submit)="editPost()" (ngForm)="form">
      <h3>Change <span> '{{blogTitle}}'</span> post</h3>
      <div class="custom-file">
        <!-- <input type="file" class="custom-file-input" name="file" formControlName="file"
          placeholder="Upload image" (change)="uploadImg($event.target.files)" accept="image/png, image/jpeg">
        <label class="custom-file-label" [ngClass]="fileState">{{ uploadedText }}</label> -->

        <!-- <div class="valid" >
          <p *ngIf="(form.controls['file'].value == '' && form.controls['file'].errors?.invalid)">File don't choose</p>
        </div> -->
      </div>

      <label>Post Title</label>
      <input type="text" class="form-control" name="title" [(ngModel)]="post['title']">

      <label>Post Body</label>
      <textarea class="form-control mb-3" name="body" [(ngModel)]="post['body']"></textarea>

      <div class="form-footer">
        <button type="submit" class="btn btn-dark send-btn"
         [disabled]="post['body'].length < 32 || post['title'].length < 5" >Save Changes</button>

        <button class="btn btn-dark go-back" type="button" (click)="goBack()">Go Back</button>
      </div>




    </form>
  </div>
