<div class="col-md-12 home-page bg-dark">
  <div>
    <h1>Tour Blog is a platform where you can post your singth about
        places where do you have a good vocation.</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, inventore dignissimos.
        Cupiditate ad repudiandae necessitatibus impedit assumenda alias in,
        ex consequuntur quas explicabo debitis et possimus ipsum recusandae veritatis molestiae?</p>
  </div>
</div>

<div class="row m-0 mb-2">
    <div class="col-4">
      <div class="card" style="width: 21.5rem;">
        <img src="../../../assets/svg/si-glyph-person-public.svg" class="big-svg card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk
             of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 21.5rem;">
        <img src="../../../assets/svg/si-glyph-global.svg" class="big-svg card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="card" style="width: 21.5rem;">
        <img src="../../../assets/svg/si-glyph-pin-location.svg" class="big-svg card-img-top">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
</div>


