<div class="col-md-12 home-page bg-dark">
  <div class="about-app">
    <h1>Tour Blog is a platform where you can post your thinks about
        places where do you have a good vocation.</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis, inventore dignissimos.
        Cupiditate ad repudiandae necessitatibus impedit assumenda alias in,
        ex consequuntur quas explicabo debitis et possimus ipsum recusandae veritatis molestiae?</p>
  </div>
</div>

<div class="row m-0 mb-2">
    <div class="card-deck mb-3">
      <div class="card">
        <img class="card-img-top big-svg" src="../../../assets/svg-tour/direction.svg" alt="Card image cap">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>

        </div>
      </div>
      <div class="card">
        <img class="big-svg card-img-top" src="../../../assets/svg-tour/hotel-sign.svg" alt="Card image cap">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

        </div>
      </div>
      <div class="card">
        <img class="card-img-top big-svg" src="../../../assets/svg-tour/beach.svg" alt="Card image cap">
        <hr>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural
            lead-in to additional content. This card has even longer
            content than the first to show that equal height action.
          </p>
        </div>
      </div>

    </div><!-- /card dec -->

    <div class="card-deck mb-3">
        <div class="card">
          <img class="card-img-top big-svg" src="../../../assets/svg-tour/destination.svg" alt="Card image cap">
          <hr>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little
              bit longer.</p>

          </div>
        </div>
        <div class="card">
          <img class="big-svg card-img-top" src="../../../assets/svg-tour/polaroid.svg" alt="Card image cap">
          <hr>
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>

          </div>
        </div>
        <div class="card">
            <img class="card-img-top big-svg" src="../../../assets/svg-tour/baggage.svg" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural
                lead-in to additional content. This card has even longer
                content than the first to show that equal height action.
              </p>
            </div>
          </div>

      </div>


</div>


