.home-page {
  margin: 20px 0;
  padding: 50px;
  text-align: center;
  background-image: url("../../../assets/img/pexels-photo-297755.jpeg");
  width: 100%;
  height: 100%;
}
.home-page h1 {
  /* color: #b79d9d; */
  color: #b55050;
  font-size: 34px;
  margin-bottom: 20px;
}
.home-page p {
  color: #b54141;
  font-size: 20px;
}

.about-app {
  /* background-image: url("../../../assets/img/pexels-photo-297755.jpeg");
  width: 100%;
  height: 100%; */
}

.big-svg {
  width: 70%;
  margin: 20px auto;
  height: 100px;
}

