.aside-avatar ul li span {
  color: #b54141;
  font-size: 16px;
}

.avatar-block {
  height: 190px;
  text-align: center;
}

.avatar {
  width: 150px;
  height: 190px;
  margin: 20px 0;
}
.add-picture {
  position: relative;
  top: -32px;
  left: 80%;
  cursor: pointer;
  width: 30px;
}

.account-info {
  background-color: #fff;
  border: 1px solid #343a40;
  border-radius: 5px;
}

.account-info h3 {
  font-size: 22px;
  color: grey;
}
.account-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 16px 0;
  border-bottom: 1px solid #f1dcdc;
}
.account-title h3>span {
  color: #b54141;
  margin-left: 10px;
}

.skills td {
  padding: 15px 0;
}

.skills .icon {
  width: 50px;
}

.skills .icon img {
  width: 20px;
}

.skills td.item {
  width: 200px;
  color: grey;
}
.skills td.info {
  border-bottom: 1px solid #f1dcdc;
}
.skills td span {
  color: #b54141;
}

.btn-dark {
  color: #b54141
}

.show-table {
  text-align: center;
}

.show-table h4 {
  color: #cac0c0b9;
}

.show-table span {
  color: #b54141;
}

.no-posts  {
  display: flex;
  justify-content: center;
  color: #b54141;
  margin: 30px;
}

.no-posts h3 {
  border-bottom: 1px solid #b54141;
  width: 150px;
}

.no-posts span {
  color: #8c8585;
  font-size: 20px;
}
.post-btns {
  display: flex;
  justify-content: flex-end;
}
.post-btns a {
  margin: 0 30px;
  text-decoration: none;
}

.post-info {
  border-bottom: 1px solid #cac0c0b9;
  margin-bottom: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: flex-start;
}

.post-info:first-child {
  border-top: 1px solid #cac0c0b9;
  padding-top: 10px;
}
.post-info p {
  margin: 0 30px;
  padding-bottom: 10px;
  cursor: pointer;
}

.post-info a {
  text-decoration: none;
  color: #b54141;
}

.post-info img {
  width: 18px;
  margin: 0 3px;
  line-height: 16px;
}


.card-text p {
  color: #b54141;
}
.card-text p strong {
  color: #8c8585;
  font-size: 14px;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 9999;
}

.dropdown-content a {
  color: #b54141;
  padding: 4px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}


@media (max-width: 768px) {
  .aside-avatar {
    margin-bottom: 25px;
  }
}
