<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..." type="ball-scale-multiple"></ngx-spinner>
<div class="row mt-5 mb-5 " *ngIf="loader">

  <div class="col-md-4 aside-avatar">
    <div class="card border-dark h-100">
      <div *ngIf="sex" class="avatar-block">
        <img class="card-img-top avatar" *ngIf="avatar" src="../../../../assets/svg-tour/man.svg" alt="Avatar">

        <img class="card-img-top avatar" *ngIf="!avatar" src="../../../../assets/svg-tour/girl.svg" alt="Avatar">
      </div>

      <hr>
      <div class="card-body">
        <ul class="list-group ">
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Username:
            <span class="badge badge-pill">{{ username }}</span>
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            Email:
            <span class="badge badge-pill">{{ email }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>


  <div class="col-md-8 account-info">
    <div class="account-title">
      <h3>About <span>{{ username }}</span></h3>

    </div>
    <div *ngIf="showTable" class="show-table">
      <h4> <span>{{ username }}</span> dont have any information</h4>
    </div>
    <table class="no-border no-strip skills bar-class" *ngIf="!showTable">
      <tbody class="no-border-x no-border-y">
        <tr>
          <td class="icon">
            <img src="../../../../assets/svg-tour/businessman-talking-about-data-analysis.svg" alt="About">
          </td>
          <td class="item">About me</td>
          <td class="info">
            <span>{{ userInfo['about'] }} </span>
          </td>
        </tr>
        <tr>
          <td class="icon">
            <img src="../../../../assets/svg-tour/man-in-office-desk-with-computer.svg" alt="Location">
          </td>
          <td class="item">Ocupation</td>
          <td class="info">
            <span>{{ userInfo['ocupation'] }}</span>
          </td>
        </tr>
        <tr>
          <td class="icon">
            <img src="../../../../assets/svg-tour/gift.svg" alt="">
          </td>
          <td class="item">Birthday</td>
          <td class="info">
            <span>{{ userInfo['birthday'] }}</span>
          </td>
        </tr>
        <tr>
          <td class="icon">
            <img src="../../../../assets/svg-tour/phone-book.svg" alt="">
          </td>
          <td class="item">Mobile</td>
          <td class="info">
            <span>{{ userInfo['mobile'] }}</span>
          </td>
        </tr>
        <tr>
          <td class="icon">
            <img src="../../../../assets/svg-tour/pin.svg" alt="">
          </td>
          <td class="item">Location</td>
          <td class="info">
            <span>{{ userInfo['location'] }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-12 mt-5">

    <div class="no-posts text-center" *ngIf="noPosts">
      <h3>This user dont have a post</h3>
    </div>

    <div class="no-posts text-center" *ngIf="!noPosts">
      <h3>{{ username }} <span>posts</span></h3>
    </div>
    <div *ngIf="!noPosts">


    <div class="card mb-3" *ngFor="let posts of userPosts">
      <img class="card-img-top" src="../../../assets/img/pexels-photo-819733.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ posts.title }}</h5>
        <p class="card-text">{{ posts.body }}</p>
        <div class="card-text">
          <div class="post-info">
            <p>
              <strong>Posted by: </strong>{{ posts.createdBy }}</p>
            <p>
              <strong>Date: </strong>{{ posts.createdAt | date: 'MMM, dd, yyyy' }}</p>

          </div>
          <!-- post Infos -->
          <div class="post-info">
            <div class="dropdown">
              <p (click)="likePost(posts._id, posts.createdBy, posts.likedBy)" [title]="likedTitle">
                <strong>Likes: </strong>
                <img src="../../../assets/svg-tour/like.svg" alt="">
                <span>{{ posts.likes }}</span>
              </p>
              <div class="dropdown-content">
                <a  *ngFor="let whoLikes of posts.likedBy">{{ whoLikes }}</a>
              </div>
            </div>
            <!-- / dropdown -->
            <a [routerLink]="['/single-post/', posts._id]">
              <img src="../../../assets/svg-tour/chat.svg" alt=""> {{ posts.comments.length }}
              <strong class="text-muted" (click)="modal = true"> comments</strong>
            </a>
          </div>

        </div>
      </div>
      <!-- / card-body -->
    </div>
    </div>
  </div>
</div>
