.avatar-block {
  height: 190px;
  text-align: center;
}

.avatar {
  width: 150px;
  height: 190px;
  margin: 20px 0;
}
.add-picture {
  position: relative;
  top: -32px;
  left: 310px;
  cursor: pointer;
  width: 30px;
}

.account-info {
  background-color: #fff;
}
