<div>

  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" loadingText="Loading..." type="ball-scale-multiple"></ngx-spinner>

  <div [ngClass]="messageClass">
    {{ message }}
  </div>

  <section *ngIf="processing">

    <div class="md-modal md-effect-1" [ngClass]="modalClass">
      <div class="md-content">
        <h3>Delete Modal</h3>
        <div>
          <p>Are you sure you would like to delete this post?</p>
          <ul>
            <li><strong>Atention : </strong> if you delete this post all information would be lost!</li>
          </ul>
          <div class="modal-btns">
            <button class="btn btn-dark btn-block"  (click)="deletePost()">Yes</button>
            <a >
              <button class="btn btn-dark btn-block"  (click)="closeModal()"
                data-dismiss="modal">No</button>
            </a>
          </div>

        </div>
      </div>
    </div> <!--  /  Modal -->

    <div class="md-modal md-effect-1 " [ngClass]="guestModalClass">
      <div class="md-content">
        <h3>{{ guestModalTitle }}</h3>
        <div>
          <p>{{ guestModalMessage }}</p>
          <div class="modal-btns">
            <a routerLink="/login">
              <button class="btn btn-dark btn-block" (click)="closeGuestModal()"
                data-dismiss="modal">Login</button>
            </a>
            <a routerLink="/register">
              <button class="btn btn-dark btn-block" (click)="closeGuestModal()"
                data-dismiss="modal">Registration</button>
            </a>
            <a >
              <button class="btn btn-dark btn-block" (click)="closeGuestModal()"
                data-dismiss="modal">Close</button>
            </a>
          </div>

        </div>
      </div>
    </div> <!-- / guest Modal -->

    <div class="md-overlay" ></div><!-- modal background -->

    <div class="row mt-5 mb-5">
      <div class="col-8">
        <div class="card mb-3" *ngFor="let post of singlePost">
          <img class="card-img-top" src="../../../assets/img/pexels-photo-819733.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{ post.title }}</h5>
            <p class="card-text">{{ post.body }}</p>
            <div class="card-text">
              <div class="post-info">
                <p (click)="guestOnAuthor()"><strong>Posted by: </strong>{{ post.createdBy }}</p>
                <p><strong>Date: </strong>{{ post.createdAt | date: 'MMM, dd, yyyy' }}</p>

              </div>
              <!-- post Infos -->
              <div class="post-info">
                <div class="dropdown">
                  <p (click)="likedUser(post._id)" [title]="likedTitle"><strong>Likes: </strong>
                    <img src="../../../assets/svg-tour/like.svg" alt="">
                    {{ pusherLike }}
                  </p>
                  <div class="dropdown-content" *ngIf="auth.loggedIn()">
                    <a href="" *ngFor="let whoLikes of pusherLikedBy">{{ whoLikes }}</a>
                  </div>
                </div> <!-- / dropdown likes -->

                <p>
                  <img src="../../../assets/svg-tour/chat.svg" alt="">
                  {{ post.comments.length }}<strong class="text-muted"> comments</strong>
                </p>
              </div>
              <!-- / post Infos -->
              <div class="post-btns" *ngIf="username == post.createdBy">
                <a [routerLink]="['/system/edit-post/', post._id]"><button type="button" class="btn btn-dark ">Edit</button></a>
                <a class="delete" (click)="showModal()"><button type="button" class="btn btn-dark ">Delete</button></a>
              </div>

            </div>
          </div> <!-- / card-body -->
        </div> <!-- / card -->
      </div>




      <!-- Aside -->
      <div class="col-4 pl-0">
        <h4>Most popular</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi,
          hic architecto culpa possimus cum perspiciatis corporis numquam at rem.
            Quas similique modi provident suscipit aspernatur deserunt harum illo accusamus voluptas?</p>
      </div>

      <div class="col-8" >

        <div class="comments-block-header">
          <h4>Comments</h4>
          <button class="btn btn-dark"
          (click)="showForm = !showForm" *ngIf="postComments.length <= 0">Add Comment</button>
          <p *ngIf="!auth.loggedIn()">Only logged in users can wright comments!</p>

        </div>


          <ul class="comment-section" *ngIf="showForm || postComments.length > 0">
            <!-- <li class="comment user-comment" *ngFor="let comment of postComments"> -->
            <li [class]="(username === comment.commentator)? 'comment author-comment': 'comment user-comment'"
            *ngFor="let comment of postComments"
             >

              <div class="info">
                  <a href="#">{{ comment.commentator }}</a>
                  <span>{{ comment.date | date: 'short' }}</span>
              </div>
              <a class="avatar" href="#">
                  <img src="../../../assets/svg-tour/girl.svg" width="35" alt="Profile Avatar" title="Anie Silverston" />
              </a>
              <p>{{ comment.comment }}</p>
            </li>

            <li [class]="(username === comment.author)? 'comment author-comment': 'comment user-comment'"
              *ngFor="let comment of newComment">
                <div class="info">
                    <!-- <a href="#">{{ comment.commentator }}</a> -->
                    <a href="#">{{ comment.author }}</a>
                    <span>{{ comment.date }}</span>
                </div>
                <a class="avatar" href="#">
                  <div *ngIf="userSex" class="avatar-block">
                    <img class="card-img-top avatar" *ngIf="avatar"
                    src="../../../assets/svg-tour/man.svg"
                    alt="Avatar">

                    <img class="card-img-top avatar" *ngIf="!avatar"
                    src="../../../assets/svg-tour/girl.svg"
                    alt="Avatar">
                  </div>
                </a>
                <p>{{ comment.comment }}</p>
            </li>



            <li class="write-new" *ngIf="auth.loggedIn()">
              <form [formGroup]="commentForm">

                <textarea placeholder="Write your comment here" formControlName="comment"
                 name="comment"></textarea>

                 <div>
                    <p
                    *ngIf="(commentForm.controls['comment'].errors?.minlength &&
                     commentForm.controls['comment'].dirty) ||
                     (commentForm.controls['comment'].errors?.maxlength &&
                     commentForm.controls['comment'].dirty)">
                     Comment must be at least 1 character but no more than 200.
                    </p>
                    <p
                    *ngIf="commentForm.controls['comment'].errors?.required &&
                     commentForm.controls['comment'].dirty" class="valid-form">
                     This field is required
                    </p>
                  </div>

                <div>
                  <button type="button" (click)="postComment()" class="btn btn-dark"
                    [disabled]="!commentForm.valid">Submit</button>
                </div>
              </form>
            </li>
          </ul>
      </div>
  </div>

</section>

</div>


