.navbar a {
  color: #b54141;
  font-size: 18px;
  font-weight: bold;
}
a.navbar-brand {
  font-weight: bold;
  font-size: 22px!important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #cc5757;
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active,
 .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
  color: #cc5757;
 }

.navbar-nav .dropdown .dropdown-content .nav-item.active .nav-link {
  color: #cc5757;
}

.account {
  display: inline-block;
  margin-top: 8px;
}

.account a {
  color: grey;
  margin-right: 30px;
  text-decoration: none;
}
.account img {
  width: 26px;
  margin: 0 7px;
}
.account a div {
  display: inline-block;
}

.small-menu {
  display: none;
}


@media (max-width: 576px) {
  .small-menu {
    display: block;
  }
  .hidden-m {
    display: none;
  }

  .account-header {
    /* display: flex;
    justify-content: center; */
  }

  .account {
    margin-left: 5%;

  }

  .account img {
    margin: 0 4px;
  }

  .logout-pos {
    position: absolute;
    right: 10px;
  }

  .navbar-expand .navbar-nav .nav-link {
    padding-right: 6px;
    padding-left: 6px;
  }
  .navbar a {
    font-size: 16px;
    font-weight: bold;
  }
}
