<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">T_|_B</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto" [ngClass]="{'hidden-m': auth.loggedIn() }">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/posts">Posts</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/login"
           *ngIf="!auth.loggedIn()">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/register" *ngIf="!auth.loggedIn()">Register</a>
        </li>


        <div *ngIf="auth.loggedIn()" >
          <div class="account">
            <a routerLink="/system/profile">
              <img class="card-img-top avatar"
            [src]="!!(sex === 'male')? '../../../../assets/svg-tour/man.svg': '../../../../assets/svg-tour/girl.svg'"
              alt="Avatar" *ngIf="!!(sex === 'male')">
              {{ username }}
            </a>
          </div>
        </div>

        <app-dropdown></app-dropdown>

        <!-- <div class="dropdown" *ngIf="auth.loggedIn()">
          <div (click)="dropdown = !dropdown" appClickOutside><img src="../../../assets/svg-tour/down-arrow.svg" alt=""
            class="arrow"></div>

          <div class="dropdown-content" [ngStyle]="{ 'display': dropdown? 'block': 'none' }">
            <div class="small-menu">
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                <a class="nav-link" routerLink="/" >Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/posts">Posts</a>
              </li>
            </div>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/system/profile">Profile</a>
            </li>
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
              <a class="nav-link" routerLink="/">My Posts</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" routerLink="/posts" *ngIf="auth.loggedIn()">Add new Post</a>
            </li>
          </div>
        </div> -->


        {{ text }}

        <li class="nav-item" routerLinkActive="active" class="logout-pos">
          <a class="nav-link" style="cursor: pointer;" (click)="onLogout()" *ngIf="auth.loggedIn()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
