
.dropdown-content a {
  color: #b54141;
  font-size: 18px;
  font-weight: bold;
}
a.navbar-brand {
  font-weight: bold;
  font-size: 22px!important;
}

.dropdown-content a:hover {
  color: #cc5757;
}

.dropdown-content li .active {
  color: #cc5757!important;
 }

.dropdown .dropdown-content .nav-item.active .nav-link {
  color: #cc5757!important;
}


.dropdown {
  position: relative;
  display: inline-block;
}

.arrow {
  width: 20px;
  position: relative;
  top: 9px;
  right: 6px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 52px;
  right: 0;
  background-color: #343a40;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.small-menu {
  display: none;
}


@media (max-width: 576px) {
  .small-menu {
    display: block;
  }
  .hidden-m {
    display: none;
  }

  .account-header {
    /* display: flex;
    justify-content: center; */
  }

  .account {
    margin-left: 5%;

  }

  .account img {
    margin: 0 4px;
  }

  .logout-pos {
    position: absolute;
    right: 10px;
  }
}
