<table class="no-border no-strip skills">
    <tbody class="no-border-x no-border-y">
      <tr>
        <td class="icon">
          <img src="../../../../assets/svg-tour/businessman-talking-about-data-analysis.svg" alt="About">
        </td>
        <td class="item">About me</td>
        <td class="info"><span>No information</span></td>
      </tr>
      <tr>
        <td class="icon">
          <img src="../../../../assets/svg-tour/man-in-office-desk-with-computer.svg" alt="Location">
        </td>
        <td class="item">Ocupation</td>
        <td class="info"><span>No information</span></td>
      </tr>
      <tr>
        <td class="icon"><img src="../../../../assets/svg-tour/gift.svg" alt=""></td>
        <td class="item">Birthday</td>
        <td class="info"><span>No information</span></td>
      </tr>
      <tr>
        <td class="icon"><img src="../../../../assets/svg-tour/phone-book.svg" alt=""></td>
        <td class="item">Mobile</td>
        <td class="info"> <span>No information</span></td>
      </tr>
      <tr>
        <td class="icon"><img src="../../../../assets/svg-tour/pin.svg" alt=""></td>
        <td class="item">Location</td>
        <td class="info"><span>No information</span></td>
      </tr>
      <tr>
        <td class="icon"><img src="../../../../assets/svg-tour/post-it.svg" alt=""></td>
        <td class="item">Posts</td>
        <td><span>12</span></td>
      </tr>
    </tbody>
  </table>
